NUXT_SESSION_PASSWORD=replace-with-a-long-random-session-secret

TELEGRAM_BOT_TOKEN=8226446742:replace-with-your-bot-token
TELEGRAM_WEBHOOK_SECRET=`openssl rand -base64 33 | tr '+/' '-_'`
TELEGRAM_CHANNEL_ID=-1001817097462
TELEGRAM_BOT_USERNAME=NaifaruBloodBot
TELEGRAM_BOT_INFO={"id":8226446742,"is_bot":true,"first_name":"Naifaru Blood Donors","username":"NaifaruBloodBot","can_join_groups":true,"can_read_all_group_messages":false,"supports_inline_queries":false}
